.headerPage{
  display: flow-root;
  margin: 0px 0px 20px;
  background: #fff;
  padding: 0px 8px;
  border: 1px solid #f1f1f1;
}
.btnSize{
  padding: 1px 8px;
  margin-top: 5px;
}
.activeLinks{
  color: green;
  border-bottom: 2px solid forestgreen;
}

.pageColorBg{
  background-color: white;
}
