<body>
	<div class="theme-layout">
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">

							<div class="col-lg-6">
								<div class="central-meta">
									<div class="frnds">
										<ul class="nav nav-tabs">
											<li class="nav-item"><a class="active" href="" data-toggle="tab">Friends Suggestions</a></li>
										</ul>

										<div class="tab-content">
											<div class="tab-pane active fade show " id="frends">

												<span *ngFor="let friend of friendSuggestions">
													<br> <br>
													<span *ngIf="friend.picFile != null; else dummyPicR">
														<img class="rounded-circle" style="width: 50px; height: 50px;" [src]="friend.picFile">
													</span>
													<ng-template #dummyPicR>
														<img style="width: 20%" src="/assets/pics/noProfile.png">
													</ng-template>
													<div class="text-left user-itemC"
														style="display: inline-block; margin-left: 10px; width: 100px;">
														{{friend.user_name}}
													</div>

													<span class="text-right">
														<span *ngIf="friend.request_status != 2">
															<button (click)="sendFriendRequest(friend.user_id)" type="button">Sent Request</button>
														</span>
														<span *ngIf="friend.request_status == 2">
															<span>Request Sent</span>
														</span>

													</span>
												</span>
												<br>				<br>
												<button class="btn-view btn-load-more" (click)="loadMoreFriends()">Load More</button>
											</div>
										</div>
									</div>
								</div>
							</div><!-- central-meta ends -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>