@media screen and (max-width: 620px){
    .hideMeLeftPanel{
       display: none;   
    }
}

.whitePanelBox{
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    background: #fdfdfd;
    border: 1px solid #ede9e9;
    border-radius: 3px;
}