.likedORdisliked{
    color: green;
}

.createImageCircle{
    border-radius: 50%;
}

.questionairIcon{
    width: 31px;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .resize{
        width: 100% !important;
    }
}
@media screen and (max-width: 620px){
    .hideMeLeftPanel{
       display: none;   
    }
}
@media screen and (max-width: 622px){
    .expandMiddleContent{
        flex: 0 0 100% !important;
    }
}

@media screen and (max-width: 700px){
    .hideMeRightPanel{
       display: none;
    }
}
@media screen and (max-width: 700px) and (min-width: 620px){
    .setMiddleContentToRight{
         margin-left: 24% !important;
         flex: 0 0 76% !important;
    }
}

@media screen and (max-width: 620px){
    .setMidleContentMinWidth{
        max-width: 100% !important;
    }
}


