<!-- ***************** LOGIN FORM ************************************************* -->
<!-- If loginForm is invisible then show singUp button -->

<div class="top-area stickToTop" *ngIf="!isUserLoggedIn">

    <div *ngIf="loginFormType == 1" class="col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3"
        style="padding-top: 5px; float: right;">
        <button class="btn btn-success" (click)="LoadSignUp()" style="cursor: pointer;">
            Signup </button>
    </div>

    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 HideMe" style="float:right" *ngIf="loginFormType == 0">
        <form (ngSubmit)="onSignIn(signinFirstForm)" #signinFirstForm="ngForm">
            <div class="row" style="float:right;">

                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <label class="textColor" style=" margin: 0;">email or username</label>
                    <input type="text" style="width:90%" placeholder="enter email or username" name="emailUsername"
                        ngModel required email>
                </div>
                <br>
                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                    <label class="textColor" style="margin: 0;">password</label>
                    <input type="password" style="width:90%" placeholder="enter password" name="password" minlength="4"
                        maxlength="12" ngModel required>
                </div>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2" style="margin-top: 15px">
                    <button type="submit" class="btn btn-primary"
                        style="background-color:rgb(135, 162, 243)">Login</button>
                </div>

            </div>
        </form>
    </div>

</div>
<!-- ***************************************************************************** -->

<div style="background-color:rgb(222, 233, 247);" *ngIf="loginFormType == 1 && !isUserLoggedIn">
    <div class="main-div" style="padding-top: 70px; padding-bottom: 150px; margin-top: 18px;">

        <div class="offset-xs-4 offset-sm-4 offset-md-4 offset-lg-4 col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <div class="container" style="background-color: white; padding-top: 25px; padding-bottom: 60px">
                <h5 style="text-align:center">Login to SNS</h5>
                <br>
                <form (ngSubmit)="onSignIn(signinSecondForm)" #signinSecondForm="ngForm"
                    (input)="updateFormValues(signinSecondForm)">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputEmail" placeholder="email/username"
                            name="emailUsername" email required ngModel #username="ngModel">
                        <p style="float: right; color: red;" *ngIf="!username.valid && username.touched">enter valid
                            email</p>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password"
                            name="password" [value]="passwordFieldInputValue" minlength="4" maxlength="12" ngModel
                            #password="ngModel" required>
                        <p style="float: right; color: red;" *ngIf="!password.valid && password.touched">
                            <span *ngIf="password.errors?.required">enter your password</span>
                            <span *ngIf="password.errors?.minlength">enter valid password</span>
                        </p>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-primary" style="float: right">Login</button>
                </form>
            </div>
        </div>

    </div> <!-- Div-main Ends -->
</div> <!-- Div-BackgroundColor Ends -->