<div class="container wrap-login100" *ngIf="activatedForm == 0">

	<!-- ****************** FORM ********************************************* -->
	<form [formGroup]="signupForm" (ngSubmit)="onSignUp()" class="login100-form" style="padding-top: 12%">
		<span class="login100-form-title " style="margin-top:-20px; margin-bottom: 13px">
			Register Yourself
		</span>

		<div class="form-group">
			<label>Username </label>
			<input class="form-control" type="text" name="username" placeholder="enter username"
				formControlName="username" (input)="validateSignupName(uname)"
				[ngClass]="{inputFieldonError: nameInputFieldError==true}" #uname>
			<!-- -------------- Username Validation --------------- -->
			<div *ngIf="nameValidationStatus">
				<p class="row" style="float: right; color: red">{{usernameErrorMsg}}</p> <br>
			</div>
			<!-- -------------------------------------------------- -->
		</div>

		<div class="form-group" data-validate="Valid email is required: ex@abc.xyz">
			<label>Email </label>
			<input class="form-control" type="email" name="email" placeholder="enter email" formControlName="email"
				(input)="validateSignupEmail(email)" [ngClass]="{inputFieldonError: emailInputFieldError}" #email>
			<!-- ------------------Email Validation----------- -->
			<div *ngIf="emailValidationStatus">
				<p class="row" style="float: right; color: red">{{emailErrorMsg}}</p>
			</div>
			<!-- --------------------------------------------- -->
		</div>

		<div class="form-group">
			<label>Gender: </label>
			<div class="row" style="margin: 0">
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="male" formControlName="gender" name="gender"
						value="male" checked>
					<label class="custom-control-label" for="male">Male</label>
				</div>
				&nbsp; &nbsp;
				<div class="custom-control custom-radio">
					<input type="radio" class="custom-control-input" id="female" formControlName="gender" name="gender"
						value="female">
					<label class="custom-control-label" for="female">Female</label>
				</div>
			</div>

			<!-- ------------------Gender Validation--------------- -->
			<div *ngIf="genderValidationStatus">
				<p class="row" style="float: right; color: red">please select gender</p>
			</div>
			<!-- --------------------------------------------- -->
		</div>

		<div>
			<label>Birthday</label>
			<select formControlName="date" (input)="validateSignupBirthdate(date)" #date>
				<option value="" selected disabled hidden>date</option>
				<option value="1" *ngFor="let date of dates"> {{date}} </option>
			</select>
			&nbsp;
			<select formControlName="month" (input)="validateSignupBirthmonth(month)" #month>
				<option value="" selected disabled hidden>month</option>
				<option [value]="month" *ngFor="let month of months"> {{month}} </option>
			</select>
			&nbsp;
			<select formControlName="year" (input)="validateSignupBirthyear(year)" #year>
				<option value="" selected disabled hidden>year</option>
				<option [value]="year" *ngFor="let year of years"> {{year}} </option>
			</select>

			<!-- ------------------Birthday Validation --------------- -->
			<div *ngIf="birthdayValidationStatus">
				<p class="row" style="float: right; color: red">please enter birthdate</p>
			</div>
			<!-- --------------------------------------------- -->
		</div>

		<br>
		<div class="form-group" data-validate="Password is required">
			<label>Password</label>
			<input class="form-control" type="password" name="pass" placeholder="enter password"
				formControlName="password" (input)="validateSignupPassword(password)" #password>
			<!-- ------------------Password Validation --------------- -->
			<div *ngIf="passwordValidationStatus">
				<p class="row" style="float: right; color: red">password must be atleast 5 characters</p>
			</div>
			<!-- --------------------------------------------- -->
		</div>
		<br *ngIf="breakLineStatus">
		<div class="form-group" data-validate="Password is required">
			<label>Confirm Password</label>
			<input class="form-control" type="password" name="pass" placeholder="reenter password"
				formControlName="confirmpassword" (input)="validateSignupConfirmPassword(cpassword)" #cpassword>
			<!-- --------------ConfirmPassword Validation ----------- -->
			<div *ngIf="passwordMatchStatus">
				<p class="row" style="float: right; color: red">password not matching</p>
			</div>
			<!-- --------------------------------------------- -->
		</div>


		<div class="form-group">
			<button type="submit" class="login100-form-btn"
				[disabled]="!signupForm.valid || birthdayValidationStatus || passwordMatchStatus || passwordValidationStatus">
				Register
			</button>
		</div>
		<p style="text-align: center">{{message}}</p>
	</form>
	
</div> <!-- DIV CONTAINER-WRAP ENDS -->


<app-login-component></app-login-component>



